.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.exercise-container{
    width: 80%;
    margin:5% auto;
}
.exercise-container h1{
    color: #4e2772;
}
.exercises{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.dashboadr-container{
    background-color: #ececec;
    padding: 20px;
}

@media screen and (max-width: 576px) {
    .home-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .exercises{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .exercises{
        grid-template-columns: repeat(2, 1fr);
    }
}